body {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

body {
  background-color: lightblue
}

h1.header {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: blue;
}

#roster {
font-family: "Gloria Hallelujah";
font-size: 20px;
color:darkblue
}

#schedule {
  font-family: "Gloria Hallelujah";
  font-size: 20px;
  color:darkblue
}

#picture {
padding:20px;
}
